In [1]:
employees = [
    {"id": 101, "name": "Amit", "dept": "HR", "salary": 45000, "city": "Delhi", "exp": 2},
    {"id": 102, "name": "Riya", "dept": "Finance", "salary": 60000, "city": "Mumbai", "exp": 4},
    {"id": 103, "name": "Suresh", "dept": "IT", "salary": 75000, "city": "Bangalore", "exp": 5},
    {"id": 104, "name": "Meena", "dept": "IT", "salary": 82000, "city": "Delhi", "exp": 7},
    {"id": 105, "name": "Vikas", "dept": "HR", "salary": 50000, "city": "Chennai", "exp": 3},
    {"id": 106, "name": "Tina", "dept": "Finance", "salary": 65000, "city": "Delhi", "exp": 6},
    {"id": 107, "name": "Rohan", "dept": "Sales", "salary": 40000, "city": "Mumbai", "exp": 2},
    {"id": 108, "name": "Neha", "dept": "Sales", "salary": 55000, "city": "Pune", "exp": 4},
    {"id": 109, "name": "Karan", "dept": "IT", "salary": 90000, "city": "Bangalore", "exp": 8},
    {"id": 110, "name": "Pooja", "dept": "HR", "salary": 47000, "city": "Delhi", "exp": 2},
    {"id": 111, "name": "Rahul", "dept": "Finance", "salary": 75000, "city": "Mumbai", "exp": 5},
    {"id": 112, "name": "Sneha", "dept": "Sales", "salary": 58000, "city": "Delhi", "exp": 4},
    {"id": 113, "name": "Manish", "dept": "IT", "salary": 72000, "city": "Pune", "exp": 6},
    {"id": 114, "name": "Harsh", "dept": "HR", "salary": 52000, "city": "Bangalore", "exp": 3},
    {"id": 115, "name": "Geeta", "dept": "Finance", "salary": 69000, "city": "Chennai", "exp": 4}
]

In [2]:
# 1. Create a dictionary of employee name and salary.
{i["name"]:i["salary"] for i in employees}

{'Amit': 45000,
 'Riya': 60000,
 'Suresh': 75000,
 'Meena': 82000,
 'Vikas': 50000,
 'Tina': 65000,
 'Rohan': 40000,
 'Neha': 55000,
 'Karan': 90000,
 'Pooja': 47000,
 'Rahul': 75000,
 'Sneha': 58000,
 'Manish': 72000,
 'Harsh': 52000,
 'Geeta': 69000}

In [3]:
# 2. Create a dictionary of employee id and department.
{i["id"]:i["dept"] for i in employees}

{101: 'HR',
 102: 'Finance',
 103: 'IT',
 104: 'IT',
 105: 'HR',
 106: 'Finance',
 107: 'Sales',
 108: 'Sales',
 109: 'IT',
 110: 'HR',
 111: 'Finance',
 112: 'Sales',
 113: 'IT',
 114: 'HR',
 115: 'Finance'}

In [5]:
# 3. Filter only IT department employees and create a dictionary of name and salary.
{i["id"]:i["dept"] for i in employees if i['dept']=="IT"}

{103: 'IT', 104: 'IT', 109: 'IT', 113: 'IT'}

In [4]:
# 10% bonuse to all hr 
{i["name"] : round(i["salary"] * 1.10) for i in employees if i['dept']=="HR" }

{'Amit': 49500, 'Vikas': 55000, 'Pooja': 51700, 'Harsh': 57200}

In [7]:
# 4. Create a dictionary of employees earning more than 60,000 (id as key and salary as value).
{i["name"] : i["salary"] for i in employees if i["salary"]>60000}

{'Suresh': 75000,
 'Meena': 82000,
 'Tina': 65000,
 'Karan': 90000,
 'Rahul': 75000,
 'Manish': 72000,
 'Geeta': 69000}

In [8]:
# 5. Create a dictionary of employees having more than 4 years of experience (name: experience).
{i["name"]:i["dept"] for i in employees if i["exp"]>4}

{'Suresh': 'IT',
 'Meena': 'IT',
 'Tina': 'Finance',
 'Karan': 'IT',
 'Rahul': 'Finance',
 'Manish': 'IT'}

In [16]:
# 6. Create a dictionary of city-wise employee count.
D={}
for i in employees:
    if i['city'] not in D:
        D[i['city']]=1
    else:
        D[i['city']]+=1
D

{'Delhi': 5, 'Mumbai': 3, 'Bangalore': 3, 'Chennai': 2, 'Pune': 2}

In [14]:
# 7. Convert all employee names to uppercase and store them as id: NAME.
{emp["id"]: emp["name"].upper() for emp in employees}

{101: 'AMIT',
 102: 'RIYA',
 103: 'SURESH',
 104: 'MEENA',
 105: 'VIKAS',
 106: 'TINA',
 107: 'ROHAN',
 108: 'NEHA',
 109: 'KARAN',
 110: 'POOJA',
 111: 'RAHUL',
 112: 'SNEHA',
 113: 'MANISH',
 114: 'HARSH',
 115: 'GEETA'}

In [4]:
# 8. Add 10% salary hike to each employee and create a dictionary of name: updated salary.
updated_salary = {i["name"] : round(i["salary"] * 1.10) for i in employees}
print(updated_salary)

{'Amit': 49500, 'Riya': 66000, 'Suresh': 82500, 'Meena': 90200, 'Vikas': 55000, 'Tina': 71500, 'Rohan': 44000, 'Neha': 60500, 'Karan': 99000, 'Pooja': 51700, 'Rahul': 82500, 'Sneha': 63800, 'Manish': 79200, 'Harsh': 57200, 'Geeta': 75900}

In [5]:
# 9. Create a dictionary of department-wise total salary.
dept_salary = {dept: sum([emp["salary"] for emp in employees if emp["dept"] == dept])
for dept in {emp["dept"] for emp in employees}}
print(dept_salary)

{'HR': 194000, 'Finance': 269000, 'Sales': 153000, 'IT': 319000}

In [5]:
# 10. Create a dictionary marking employees as “Senior” or “Junior” based on experience (Senior > 5).
{emp["id"]: ("Senior" if emp["exp"] > 5 else "Junior") for emp in employees}

{101: 'Junior',
 102: 'Junior',
 103: 'Junior',
 104: 'Senior',
 105: 'Junior',
 106: 'Senior',
 107: 'Junior',
 108: 'Junior',
 109: 'Senior',
 110: 'Junior',
 111: 'Junior',
 112: 'Junior',
 113: 'Senior',
 114: 'Junior',
 115: 'Junior'}

In [7]:
# 11. Create a dictionary of all employees from Delhi (id: name).
dict({i["id"]:i["name"] for i in employees if i['city']=="Delhi"})

{101: 'Amit', 104: 'Meena', 106: 'Tina', 110: 'Pooja', 112: 'Sneha'}

In [8]:
# 12. Create a dictionary of employee names and the length of the name.
{i["name"]:len(i["name"]) for i in employees}

{'Amit': 4,
 'Riya': 4,
 'Suresh': 6,
 'Meena': 5,
 'Vikas': 5,
 'Tina': 4,
 'Rohan': 5,
 'Neha': 4,
 'Karan': 5,
 'Pooja': 5,
 'Rahul': 5,
 'Sneha': 5,
 'Manish': 6,
 'Harsh': 5,
 'Geeta': 5}

In [18]:
# 13. Create a dictionary to find the highest salary in each department.
D = {}
for emp in employees:
    dept = emp["dept"]
    salary = emp["salary"]

    if dept not in D:
        D[dept] = salary
    else:
        D[dept] = max(D[dept], salary)
print(D)

{'HR': 52000, 'Finance': 75000, 'IT': 90000, 'Sales': 58000}

In [25]:
# Sir wala sum of salary in each department.
D=[(x["dept"],x['salary']) for x in employees]
D1={}
for i in D:
    if i[0] not in D1:
        D1[i[0]]=i[1]
    else:
        D1[i[0]]+=i[1]
D1

{'HR': 194000, 'Finance': 269000, 'IT': 319000, 'Sales': 153000}

In [3]:
# sir wala question 
D=[(x["dept"],x['salary']) for x in employees]
(D.sort(key=lambda x:x[1],reverse=False))
max_salary=dict(D)
max_salary

{'Sales': 58000, 'HR': 52000, 'Finance': 75000, 'IT': 90000}

In [9]:
# 14. Create a dictionary of employees having salary between 50,000 and 80,000 (id: salary).
{i["name"]:i["salary"] for i in employees if i["salary"]>50000 and i["salary"]<80000}

{'Riya': 60000,
 'Suresh': 75000,
 'Tina': 65000,
 'Neha': 55000,
 'Rahul': 75000,
 'Sneha': 58000,
 'Manish': 72000,
 'Harsh': 52000,
 'Geeta': 69000}

In [10]:
# 15. Create a dictionary storing employee name as key and a tuple (salary, city) as value.
{emp["name"]: (emp["salary"], emp["city"]) for emp in employees}

{'Amit': (45000, 'Delhi'),
 'Riya': (60000, 'Mumbai'),
 'Suresh': (75000, 'Bangalore'),
 'Meena': (82000, 'Delhi'),
 'Vikas': (50000, 'Chennai'),
 'Tina': (65000, 'Delhi'),
 'Rohan': (40000, 'Mumbai'),
 'Neha': (55000, 'Pune'),
 'Karan': (90000, 'Bangalore'),
 'Pooja': (47000, 'Delhi'),
 'Rahul': (75000, 'Mumbai'),
 'Sneha': (58000, 'Delhi'),
 'Manish': (72000, 'Pune'),
 'Harsh': (52000, 'Bangalore'),
 'Geeta': (69000, 'Chennai')}

In [6]:
# 16. Create a dictionary of department-wise list of employee names.
dept_names = {dept: [emp["name"] for emp in employees if emp["dept"] == dept] for dept in {emp["dept"] for emp in employees}}
print(dept_names)

{'HR': ['Amit', 'Vikas', 'Pooja', 'Harsh'], 'Finance': ['Riya', 'Tina', 'Rahul', 'Geeta'], 'IT': ['Suresh', 'Meena', 'Karan', 'Manish'], 'Sales': ['Rohan', 'Neha', 'Sneha']}

In [7]:
# 17. Create a dictionary storing employee name and the last 3 letters of their name.
result = {emp["name"]: emp["name"][-3:] for emp in employees}
print(result)

{'Amit': 'mit', 'Riya': 'iya', 'Suresh': 'esh', 'Meena': 'ena', 'Vikas': 'kas', 'Tina': 'ina', 'Rohan': 'han', 'Neha': 'eha', 'Karan': 'ran', 'Pooja': 'oja', 'Rahul': 'hul', 'Sneha': 'eha', 'Manish': 'ish', 'Harsh': 'rsh', 'Geeta': 'eta'}

In [11]:
# 18. Create a dictionary storing employee name and a Boolean value (True if salary > 60,000).
{emp["name"]: (emp["salary"] > 60000) for emp in employees}

{'Amit': False,
 'Riya': False,
 'Suresh': True,
 'Meena': True,
 'Vikas': False,
 'Tina': True,
 'Rohan': False,
 'Neha': False,
 'Karan': True,
 'Pooja': False,
 'Rahul': True,
 'Sneha': False,
 'Manish': True,
 'Harsh': False,
 'Geeta': True}

In [ ]:
# 19. Create a dictionary of city-wise total experience.
city_exp = {city: sum([emp["exp"] for emp in employees if emp["city"] == city])
for city in {emp["city"] for emp in employees}}
print(city_exp)

In [12]:
# 20. Convert all city names into lowercase and store them as id: city.
{emp["id"]: emp["city"].lower() for emp in employees}

{101: 'delhi',
 102: 'mumbai',
 103: 'bangalore',
 104: 'delhi',
 105: 'chennai',
 106: 'delhi',
 107: 'mumbai',
 108: 'pune',
 109: 'bangalore',
 110: 'delhi',
 111: 'mumbai',
 112: 'delhi',
 113: 'pune',
 114: 'bangalore',
 115: 'chennai'}

In [ ]:
# 21. Create a dictionary of department-wise average salary.

In [15]:
# 22. Create a dictionary storing employee name and yearly CTC (salary × 12).
{emp["name"]: (emp["salary"] * 12 ) for emp in employees}

{'Amit': 540000,
 'Riya': 720000,
 'Suresh': 900000,
 'Meena': 984000,
 'Vikas': 600000,
 'Tina': 780000,
 'Rohan': 480000,
 'Neha': 660000,
 'Karan': 1080000,
 'Pooja': 564000,
 'Rahul': 900000,
 'Sneha': 696000,
 'Manish': 864000,
 'Harsh': 624000,
 'Geeta': 828000}

In [ ]:
6.9.13.16.17.19.21